{% extends 'templates/mailer/template.twig' %}
{% block content %}
	{% for data in data %}
	    <div class="row">
		    <p>
			    Thank you for registering in our site.<br>
			    From now, you can use our feature. Thanks!<br>
			</p>
		</div>    
	{% endfor %}
{% endblock %}