{% extends 'templates/mailer/template.twig' %}
{% block content %}
	<div class="row">
	    <p>
	    	Your request to reset password is accepted. Please remember your password carefully. Please click this link <br>
	    	http://{{baseUrl}}{{path_for('web.renew.password')}}
	    </p>
	</div> 
{% endblock %}