{% extends 'template.twig' %}

{% block title %}ChongieJek - Reset Password{% endblock %}

{% block body %}
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="#">Chongie<b>Jek</b></a>
        </div>
        <div class="register-box-body">
            <p class="login-box-msg">Reset Your Password</p>
            {% include 'templates/flash/flash.twig' %}
            <form method="post">
                <div class="form-group has-feedback {{ errors.email ? 'has-error': '' }}">
                    <input type="text" class="form-control" placeholder="Your Email" name="email" value="{{ old.email }}">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    {% if errors.email %}
                        <span class="help-block">{{ errors.email | first }}</span>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Reset Your Password</button>
                    </div>
                </div>
            </form>
            <a href="{{ path_for('web.login') }}" class="text-center pull-right">To Login Page</a><br>
        </div>
    </div>
</body>
{% endblock %}